@import "tailwindcss";

#root {
    background-color: #2B0B0E;
    color: white;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

div.fixed-nav {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100vw;
    height: 80px;
}

main {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/** ANIMATION **/

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scroll-left {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-25%); }
}

.card {
  opacity: 0;
  animation: fadeInUp 0.8s ease-out forwards;
}

.card:nth-child(2) {
  animation-delay: 0.3s; /* Stagger the second card */
}

.fade-in-right {
  opacity: 0;
  animation: fadeInRight 0.8s ease-out forwards;
}

.fade-in-down {
  opacity: 0;
  animation: fadeInDown 0.4s ease-out forwards;
}

.animation-delay-200 { animation-delay: 200ms; }
.animation-delay-400 { animation-delay: 400ms; }

.scroll-content {
    white-space: nowrap;
    animation: scroll-left 10s linear infinite;
    width: 100%;
}